@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.soon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  .soon h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 130px;
  color: #feeaee;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #ff0089;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }
  
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }
  
  .soon::after {
    content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last value) to change darkness */
  z-index: -99;
  }

  @media (max-width: 755px) {
    .soon h1 {
      font-size: 110px;
    }
  }
  @media (max-width: 620px) {
    .soon h1 {
      font-size: 100px;
    }
  }
  @media (max-width: 600px) {
    .soon h1 {
      font-size: 90px;
    }
  }
  @media (max-width: 550px) {
    .soon h1 {
      font-size: 80px;
    }
  }
  @media (max-width: 500px) {
    .soon h1 {
      font-size: 70px;
    }
  }
  @media (max-width: 450px) {
    .soon h1 {
      font-size: 60px;
    }
  }
  @media (max-width: 400px) {
    .soon h1 {
      font-size: 50px;
    }
  }

  .form{
    position: absolute;
    bottom: 13rem;
    margin-right: 80px;
  }

  .lab{
    color: #feeaee;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding-right: 10px;
  }

  input{
    width: 230px;
    height: 43px;
    border-radius: 100px;
    border: none;
    padding-left: 10px;
  }

  button{
    width: 70px;
    height: 30px;
    border-radius: 100px;
    border: none;
    background-color: #feeaee;
    color: #ea64ac;
    border: 2px solid #ff0089;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-left: 10px;
  }

  button:hover{
    background-color: #ff0089;
    color: #feeaee;
    cursor: pointer;
    border: 2px solid #feeaee;
  }

  @media (max-width: 400px) {
    .form {
      position: static; /* Change to static to allow normal flow */
      text-align: center; /* Center align the content */
    }
  
    .lab {
      display: block; /* Change to block to force it onto a new line */
      margin-bottom: 5px; /* Create space between "Get Notified" and the input */
    }
  
    input {
      width: 100%; /* Make the input full width */
    }
  }
  